html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font family google fonts */
/* font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Mono', monospace;
font-family: 'Roboto', sans-serif; */

body {
	line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    
}

:root {
    --warnaBlue: #467AA4;
    --warnaOrange : #FF8521;
    --warnaBlue50 : #467aa496;
    
}
/* Container untuk semuanya 23, maret 2022*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
}


/* Bagian khusus header  */
.header {
    background-color: var(--warnaBlue);
    display: flex;
    justify-content:flex-start;
    align-items: center;

    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;    
    box-shadow: 0px 10px 14px 0px rgb(187, 187, 187);
}

.header__content ul li, a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0 6px;
}

.header__content a:hover {
    
    border-bottom: 2px solid var(--warnaOrange);
    bottom: 4px;
}
.logo {
    margin: 0 20px 0 45px;
}

.img__content{
    width: 100%;
    max-width: 600px;
    max-height: 440px;
    
    display: flex;
    align-items: center;
    border-radius: 22px;
    margin-right: 5%;
    margin-top: 50px;
    box-shadow: 0px 10px 14px 0px rgb(187, 187, 187);
}


.main__top , h1 {
    font-size: 6vw;
    font-weight: bolder;
    color: var(--warnaOrange);
    display: flex;
    align-items: center;
    
}

/* khusus bagian main mid */
.title {
    font-size: 26px;
    font-weight: bold;
    margin: 20px 0;
}
.spaceTitle {
    margin-top: 100px;
}
.lessons {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
}


.lesson__content img{
    border: 6px solid var(--warnaBlue50);
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 200px;
    box-shadow: 0px 5px 20px 0px rgb(187, 187, 187);
}

.lesson__content p {
    font-size: 16px;
    font-weight: bold;

    width: 100%;
    max-width: 200px;
    text-align: center;
}
.saluranProfile{
    display: flex;
    align-items: center;
}
.saluranProfile > img{
    width: 100%;
    max-width: 300px;
    border-radius: 18px;
    margin: 120px 40px 120px 120px;
    box-shadow: 0px 10px 14px 0px rgb(187, 187, 187);   
}

.quotesSaluran {
    width: 50%;
    font-size: 20px;    
    text-shadow: 7px 10px 10px rgb(0, 0, 0);
}





/* Bagian khusus footer */

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--warnaBlue);
    padding: 30px 0;
}
.footer__logo > img{
    max-width: 200px;
    width: auto;
    margin-right: 50px;
    float: left;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer_payment {
    margin-top: 20px;
    width: 100%;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--warnaOrange);
	height: 2px;
	box-sizing: border-box;
	width: 100%;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.bank > img {
    border-radius: 100px;
    width: 50px;
}
.copyright {
    width: 100%;
    text-align: right;
    color: #ffffff;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
